.product-details{
    display: flex;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
}
.img-part img{
    width: 200px;
    margin: 10px;
    padding: 10px;
}
.name-part{
    margin-top: 20px;
    
    
}
.add-ToCart{
    margin: 10px;
    padding: 5px;
    border: 1px solid goldenrod;
    border: 5px;
    background-color:#f5c540;
    width: 150px;
    height: 30px;
    cursor: pointer;
}
.icon{
    margin: 2px;
}